<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li class="main-icon">
          <img src="/images/fox-logo.png">
         </li>
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Feature</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Screenshot</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Team</a></li>
          <li class="nav-item dropdown">
              News <div class="arrow-down"></div>
              <ul class="drop-content">
                  <li href="#" class="drop-item"><a href="#" class="drop-link">Recent News</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News One</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News Two</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News Three</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">Single News</a></li>
              </ul>
          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </nav>
  </body>
</html>
